*
{
    padding: 0;
    margin: 0;
}

body {
    background: black;
    min-height: 100vh;
}

/* css pour le container   */

.container {
	margin-top: 2%;
    display: flex;
	width: 100%;
	height: 100%;
    align-items: center;
	color: whitesmoke;
	background: rgba(0, 0, 0, 0.233);
    justify-content: center;
}

/* ici nous donnons à notre groupe slider une dimention et un couleur de font un peu plus different des 
    autres   */
.slider {
    display: block;
    position: relative;
    width: 80%;
    height: 95vh;
	background: rgba(153, 149, 149, 0.514);
    overflow: hidden;
}


/* definir la taille de chaque slide et une marge interieur    */

.slider__slides {
  width: 100%;
  padding-top: 3%;
}


/* et chaque contenue de slide, ont pratiquement les memes attrubut 
    je suis déjà fatigue je ne crois pas vouloir continuer de commenter */
.slider__slide
 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.514);
    transition: 1s;
    opacity: 0;
}


/* Que dire de ses boutons enervant rien de spécials puis que tout ce fait sur la page script js   */

.slider__nav-button {
    position: absolute;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#nav-button--prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#nav-button--next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#nav-button--prev::after,
#nav-button--next::after {
    content: "";
    position: absolute;
    border: solid rgb(235, 185, 23);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
}

#nav-button--next::after{
    top: 50%;
    right: 50%;
    transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
    top: 50%;
    right: 50%;
    transform: translate(75%, -50%) rotate(135deg);
}

.slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px #fff solid;
    background-color: #333;
    opacity: 1;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.slider__navlink.active {
    background-color: rgb(235, 185, 23);;
    border: 1px #333 solid;
}

/* et si on rendre les contenues de notre premiers slide magique?  */

.slider__slide .photo
{
	display: flex;
	width: 100%;
}

.slider__slide .photo img
{
	width: 30%;
}

.slider__slide .photo .circle img
{
	margin-top: 30%;
	margin-left: 15%;
	width: 70%;
	height: 300px;
	border-radius: 50%;
}

.slider__slide .text
{
	margin-top: -4%;
	text-align: center;
}

.slider__slide .text p
{
	color:rgb(235, 185, 23);
}


.slider__slide.active {
    opacity: 1;
	display: flex;
	margin: 0%;
	padding-left: 3%;
	flex-direction: column;
}

/* celui là appartient au deuxieme slide reste concentrer  */

.slider__slide .triangle img
{
	width: 250px;
	height: 190px;
	position: absolute;
	top: 2%;
	left: 1%;
}

/*lui il appartier au dernier slide chouchou*/
.slider__slide .triangle4 img
{
	width: 250px;
	height: 190px;
	position: absolute;
	bottom: 2%;
	left: 1%;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.slider__slide .triangle1 img
{
	width: 250px;
	height: 190px;
	position: absolute;
	bottom: 2%;
	right: 3%;
	transform: rotate(-180deg);
}

/*lui il appartier au dernier slide chouchou*/


.slider__slide .text1
{
	margin-left: 3% ;
    margin-right: 8%;
	text-align: center;
    font-weight: lighter;
}

.slider__slide .text1 h1
{
	color:rgb(235, 185, 23);
	position: absolute;
	top: 15%;
    left: 43%;
    font-size: 3rem;
}


/*Entamons la Troiseme slide*/

.slider__slide .triangle3
{
	display: flex;
	margin: 5%;
}

.slider__slide .triangle3 .ligne
{
	width: 240px;
	height: 10px;
	background-color:rgb(235, 185, 23) ;
	margin-top: -10%;
    margin-left: 20%;
}

.slider__slide .triangle3 img
{
	width: 40%;
    margin: 3%;
	height: 490px;
}

.slider__slide .triangle3 p
{
	margin-top: 7%;
	font-weight: lighter;
}

.slider__slide .triangle3 .text2 h1
{
	color:white;
	margin-bottom: 10%;
    margin-left: 20%;
}

.slider__slide img {
  width: 100%;
}


/*Entamons la quatrieme slide*/
.slider__slide .contenue
{
	display: flex;
    margin-right: 10%;
    justify-content: space-around;
	flex-direction: column;
	
}

.slider__slide .contenue h1
{
    color:rgb(235, 185, 23);
	position: absolute;
	top: 5%;
    left: 23%;
    font-size: 3rem;
}

.slider__slide .contenue .text3
{
	width: 100%;
	display: flex;
    margin: 5%;
   
	justify-content: space-around;
    
}

.slider__slide .contenue .text3 .group
{
	width: 25%;
}

.slider__slide .contenue .text3 .group a
{
	text-decoration: none;
	color:rgb(235, 185, 23) ;
}

.slider__slide .contenue .group img
{
	width: 100%;
	height: 150px;
}

.slider__slide .contenue .group p
{
	font-weight: normal;
    margin-right: 2%;
}



/*Entamons la cinquieme slide*/

.slider__slide .contenue1
{
	display: flex;
    justify-content: space-around;
	flex-direction: column;
	
}

.slider__slide .contenue1 h1
{
    color:rgb(235, 185, 23);
	position: absolute;
	top: 5%;
    left: 40%;
    font-size: 3rem;
}

.slider__slide .contenue1 .text3 
{
    display: flex;
    flex-wrap: wrap;
}

.slider__slide .contenue1 .text3 .group
{
	width: 35%;
    margin: 5%;
}

.slider__slide .contenue1 .text3 .group a
{
	text-decoration: none;
	color:rgb(235, 185, 23) ;
}

.slider__slide .contenue1 .group img
{
	width: 100%;
	height: 150px;
}

.slider__slide .contenue .group p
{
	font-weight: normal;
    margin-right: 2%;
}


/*enfin j'ai cru que j'allais y rester slide 6*/

.slider__slide .image img
{
    width: 250px;
	height: 190px;
	position: absolute;
	bottom: 2%;
	right: 4%;
	transform: rotate(-180deg);
}

.slider__slide .image1 img
{
    width: 250px;
	height: 190px;
	position: absolute;
	bottom: 2%;
	left: 1%;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.slider__slide .image2 img
{
	width: 250px;
	height: 190px;
	position: absolute;
	top: 2%;
	right: 4%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
} 
.slider__slide .image3 img
{
    width: 250px;
	height: 190px;
	position: absolute;
	top: 2%;
	left: 1%;
}
.slider__slide .liens
{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
}

.slider__slide .liens p
{
    display: flex;
    margin: 2%;
    justify-content: space-around;
}

.slider__slide .liens a
{
    text-decoration: none;
    color:rgb(235, 185, 23) ;
    font-size: 5rem;
}

.liens h1
{
    color: whitesmoke ;
    position: absolute;
    top: 7%;
    left: 40%;
    text-align: center;
}






























@media screen and (max-width: 640px) {
  .slider__nav-button {
    height: 40px;
    width: 40px;
  }
  .slider__navlink {
    height: 12px;
    width: 12px;
  }
}